{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>

    <div class="article-content">
      {{ .Content }}
    </div>

    {{ with .Data.Pages }}
    <ul class="article-taxonomy">
      {{ range .ByWeight }}
        <li>
          <i class="fa fa-file-text"></i> <a {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ default .Title .Params.heading }}</a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </article>
</main>

{{ partial "footer.html" . }}
